# Frontend environment example
# Copy this file to .env.development or .env.production before use.
NODE_ENV=development
PORT=3004
NEXT_PUBLIC_API_URL=http://localhost:3000

GOOGLE_CLIENT_ID = 635060573310-u1bmrb0t4jvmo7vfclbrhhodn7lobn4g.apps.googleusercontent.com
